body {
    font-family: Sans-Serif;
    margin: 0;
}

h1,
h2 {
    font-size: 20px;
}

.voting-form {
    background: #eee;
    padding: 20px;
    margin: 0 0 20px 0;
}

select {
    width: 200px;
    text-align: center;
}