<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    
    <script type="text/javascript" src="/app.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120783224-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-120783224-1');
    </script>

    <link rel="stylesheet" type="text/css" href="main.css">

    <link rel="icon" href="/img/houseicon.png">
    <title>Nomad Roommate Finder</title>
</head>

<body>
    <div class="title">
        <h1><a href="/index.html">🏡 Nomad Roommate 🌴</a></h1>
        <p>split super swanky homes around the world</p>
    </div>

    <div class="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Auth0 - JavaScript</a>

                    <div onclick="window.location.href='/index.html'" id="btn-home-view" class="header_button">
                        Home
                    </div>

                    <div id="btn-login" class="header_button">
                        Log In
                    </div>

                    <div id="btn-logout" class="header_button">
                        Log Out
                    </div>

                </div>
            </div>
        </nav>

        <main class="container">
            <!-- home view -->
            <div id="home-view">
                <h4></h4>
            </div>

        </main>

    </div>

    <div id="app">
        <ul>
            <li v-for="item in items">
                <h3>{{ item['fields']['Location'] }}</h3>
                <img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']"
                    width="150">
                <p><strong>Price Per Room: </strong>{{ item['fields']['Price'] }}</p>
                <p><strong>Rooms Available: </strong>{{ item['fields']['Rooms'] }}</p>
                <p><strong>Travel Dates: </strong>{{ item['fields']['Start'] }} through {{ item['fields']['End'] }}</p>
                <p><strong>Gender(s): </strong>{{ item['fields']['Genders'] }}</p>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                items: []
            },
            mounted: function () {
                this.loadItems();
            },
            methods: {
                loadItems: function () {
                    // Init variables
                    var self = this
                    var app_id = "appo2qL96FI9YS6Tj";
                    var app_key = "key5a0jKwTyFl7Khg";
                    axios.get("https://api.airtable.com/v0/" + app_id + "/Table?view=Grid%20view", {
                        headers: {
                            Authorization: "Bearer " + app_key
                        }
                    })
                    .then(function (response) {
                        self.items = response.data.records.reverse()
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>

    <script async defer src="https://donthuntme.com/dhm.js"></script>
</body>

</html>